body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background:#ffe4b6;
    background-size: cover; 
}

head {
  border-color: black;
  border-width: 1px;
  
  
}

/* Estilo del enlace para que no parezca un enlace tradicional */
.header-link {
  text-decoration: none;  /* Sin subrayado */
  color: inherit;         /* Mantener el color del texto del padre */
}

/* Evitar que el enlace visitado cambie de color */
.header-link:visited {
  color: inherit;
}

/* Opcional: Cambiar el color al pasar el mouse por encima */
.header-link:hover {
  color: #000; /* Cambia este color según tus necesidades */
}

/* Opcional: Cambiar el color cuando el enlace está activo (clic) */
.header-link:active {
  color: #555; /* Cambia este color según tus necesidades */
}

.header-content {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: left; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}



main {
    padding: 2rem;
}

#designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#designs h2 {
    width: 100%;
    text-align: center;
}

.design-item {
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (min-width: 600px) {
    .design-item {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .design-item {
        width: 30%;
    }
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #11111100;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #6c4d66;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 1.0s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
