html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background:#ffffff;
  background-size: cover; 
}

/*fuente*/

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}



head {
  border-color: black;
  border-width: 1px;
  height: 15px;
  background-color: white;
}

/* Estilo del enlace para que no parezca un enlace tradicional */
.header-link {
  font-weight:bolder;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;  /* Sin subrayado */
  color: rgb(253, 89, 253);   /* Mantener el color del texto del padre */
  font-weight: bold;      
}

/* Evitar que el enlace visitado cambie de color */
.header-link:visited {
  color: inherit;
}

/* Opcional: Cambiar el color al pasar el mouse por encima */
.header-link:hover {
  color: #000; /* Cambia este color según tus necesidades */
}

/* Opcional: Cambiar el color cuando el enlace está activo (clic) */
.header-link:active {
  color: #555; /* Cambia este color según tus necesidades */
}

.header-content {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: left; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    height: 54px;
    background-color: white;
}

/* Contenedor del carrusel */
.carousel-container {
  width: 100%;        /* Ajusta el ancho del contenedor al 100% del contenedor padre */
  height: 10%;       /* La altura se ajustará al tamaño de la imagen */
  overflow: hidden;   /* Oculta el contenido que se desborda */
  display: flex;      /* Usa flexbox para centrar las imágenes */
  align-items: center;/* Centra las imágenes verticalmente */
  justify-content: center; /* Centra las imágenes horizontalmente */
}

/* Estilo para cada diapositiva */
.mySlides {
  display: none;      /* Oculta las imágenes por defecto */
}

/* Estilo para las imágenes dentro del carrusel */
.mySlides img {
  max-width: 100%;    /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 100vh;  /* Asegura que la imagen no exceda la altura de la ventana */
  display: block;     /* Evita el espacio debajo de la imagen */
}

/* Indicadores del carrusel */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
main {
    padding: 2rem;
}

#designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#designs h2 {
    width: 100%;
    text-align: center;
}

.design-item {
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (min-width: 600px) {
    .design-item {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .design-item {
        width: 30%;
    }
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #11111100;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #6c4d66;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 1.0s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  footer {
    background-color: #111; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-family: "Libre Baskerville";
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .footer-content .icon {
    width: 24px; /* Tamaño del icono */
    height: 24px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
  .footer-content a:hover {
    color: #ff7b00; /* Cambia el color al pasar el ratón */
  }
  